# Настройки для поддержки всех платформ
target_platform=
target_arch=
target_libc=
# Включаем optional dependencies для всех платформ
install-links=false
# Принудительно включаем бинарники для всех платформ
force=false 